extends layout
block main
	div.row#about
		div.col-md-6
			article
				h1 Acerca de IT Partner
				p.high-text
				| Nuestra misión es complementar la acción del personal interno de las empresas a las que brindamos servicios a través de nuestro personal técnico especializado en áreas tecnológicas especificas para lograr así una pronta resolución de problemas, una valiosa tarea de prevención basada en un profundo conocimiento técnico y un servicio de consultoría que ayuda a nuestros clientes a implementar las soluciones mas acordes a sus necesidades utilizando los últimos adelantos tecnológicos.

			article
				p.high-text
				| Contamos dentro de nuestra estructura con ingenieros y técnicos certificados en las áreas de Sistemas Operativos y redes de voz y datos para brindar servicios de soporte de segundo y tercer nivel asegurando la calidad de la solución.

			article
				p.high-text
				| Nuestra relación con los principales fabricantes de productos de redes nos permiten escalar problemas a los ingenieros que desarrollan los productos que componen la infraestructura informática de nuestros clientes. También contamos con personal técnico certificado en sistemas de impresión y cableado de fibra óptica y cobre, ya que estas tareas nos son realizadas habitualmente por los operadores y técnicos de help desk de nuestros clientes.

			article
				p.high-text
				| Para complementar los servicios de hardware (PCs, Servidores, etc.) tenemos alianzas con empresas de soporte técnico oficial de las principales marcas, las que realizan las intervenciones en reparaciones que involucren recambio de partes.
		div.col-md-6
			article.bg