footer.footer
	.container
		p.left
			//a(href="http://invoiceocean.com/ecoinvoicing?link")
				//img(src="https://s3-eu-west-1.amazonaws.com/fs.siteor.com/radgost/files/eko/green-invoiceocean7.png", alt="Switch to EcoInvoicing, go green and save on every sent invoice")
			//a(href="http://invoiceocean.com/ecoinvoicing?link")
				//img(src="https://s3-eu-west-1.amazonaws.com/fs.siteor.com/radgost/files/eko/green-invoiceocean4.png", alt="Switch to EcoInvoicing, go green and save on every sent invoice")
		p.right 
			| Buenos Aires - Argentina
			br
			| Edificio Laminar Plaza Ing. Butty 240 5to piso
			br
			| +54 11 4590-2295

	.container
		hr
		p.bottom
			span.legals IT PARTNER - Todos los derechos reservados © 2003 - 2016
			a(href='http://www.itpartner.com.ar') www.itpartner.com.ar
			span.break |
			a(href='mailto:info@itpartner.com.ar') info@itpartner.com.ar

	script(type='text/javascript', src='/js/libs/jquery.krakatoa.min.js')