extends layout
block main
	div.row#purchase
		div.col-md-6
			article
				h1 Pedinos una cotizacion por Hardware IT
				p
					div(class="pipedriveWebForms", data-pd-webforms="https://pipedrivewebforms.com/form/2e926e9d8e9296b6c057df9048d93ca0")
						script(src="https://pipedrivewebforms.com/webforms.min.js")

		div.col-md-6
			article.bg
				p.block-text
					a.icon.glyphicon.glyphicon-globe
					| Trabajamos con los principales importadores del pais.
				br
				p.block-text
					a.icon.glyphicon.glyphicon-fire
					| Tenemos acceso a canales para conseguirte los mejores descuentos.